body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}


.form-group{
    margin-bottom: 10px;
}
label{
    display: inline-block;
    width:120px;
}
input,select,textarea{
    width: 200px;
}
header{
    text-align: center;
    margin-bottom: 20px;
    
}