.center{
   
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock{
  padding-top: 10px;
  width: 200px;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  border-radius: 10px;
}
.heading{
    font-size: 2rem;
}
body{
    background-color: gray;
}