h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#start {
  text-align: center;
  width: 100px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47%;
  margin-bottom: 5%;
}
#stop {
  text-align: center;
  width: 100px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47%;
}
