body{
    background-color: lightgray;
    font-family: Arial;
}

header{
    text-align: center;
    color: black;
}

.form-container{
    width: 350px;
    margin: auto; 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
} 

div{
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
select{
    width: 80%;
    padding: 8px;
    margin-top: 5px;
}

button{
    padding: 8px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    
}

button:hover{
    background-color: darkblue;
}


