table{
    height: 700px;
    width: 800px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25%;
    margin-bottom: 25%;
    background-color: #7A9FB0;
    font-family: Arial;
    border-radius: 20px;
    
    
}
input[type="text"],
input[type="number"]{
    width:300px ;
    height:30px;
    padding:5px;
    border-radius: 10px;
    
}
select{
    width:300px ;
    height:30px;
    padding: 5px;
    border-radius: 10px;
}
button{
   width: 70px;
   height: 30px;
   border-radius: 4px;
}
body{
    background-image: url(form.jpg);
    background-size: cover;
}
 


